/*-- scss:defaults --*/
$body-bg: #faf8f2;
$body-color: #172e3b;
$link-color: #237a87;
$presentation-heading-color: #172e3b;
$font-family-sans-serif: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
$presentation-heading-font: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
$presentation-font-size-root: 30px;
$presentation-heading-font-weight: 600;
$presentation-h2-font-size: 1.65em;
$presentation-line-height: 1.25;
